
.idea/workspace.xml
__pycache__/database_generator.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/global_statics.cpython-312.pyc
__pycache__/helpers.cpython-312.pyc
__pycache__/parser.cpython-312.pyc
__pycache__/sql_scripts.cpython-312.pyc
